body {
    background-color: #f2f2f2;
    color: #333;
}

h1 { 
    border-bottom-style: inset;
}

.tarefa-selecionada { 
    color: red; 
    font-style: italic; 
}

.tarefa-normal {
     color: black; 
}